body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.content {
  width: 100%;
  display: grid;
  justify-content: center;
  align-content:center;
  min-width: 540px;
  padding: 30px 10px 30px 10px;

  .btn {
    width: 100px;
    height: 34px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    background-color: cadetblue;
    border: none;

    &:hover {
      background-color: darkseagreen;
      cursor: pointer;
    }

    &:focus {
      outline:0;
    }

    &:disabled {
      background-color: darkgray;
      color: lightgray;
    }
  }

  .videoContainer {
    width: 480px;
    position: relative;

    #webcamVideo {
      width: 480px;
      height: 360px;
      border-radius: 10px;
      filter: grayscale(1);
      -webkit-filter: grayscale(1);
    }

    #videoCanvas {
      width: 480px;
      height: 360px;
      border-radius: 10px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

}
